body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: url('images/Halea Nature Park.jpg') no-repeat center center fixed;
    background-size: cover;
}

nav {
    position: fixed;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1000;
}

.container {
    display: inline-block;
    padding: 20px 35px;
    border-radius: 50px;
    background-color: rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(10px);
    white-space: nowrap;
}

.menu {
    list-style: none;
    display: flex;
    gap: 30px;
    margin: 0;
    padding: 0;
}

.menu li a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 14px;
    transition: color 0.3s;
}

.menu li a:hover {
    color: #545554;
}

header {
    padding: 100px 30px;
    text-align: center;
    color: white;
    background: fixed;
}

header h1 {
    font-size: 45px;
    margin: 0;
    text-shadow: 3px 3px 6px black;
    font-weight: bold;
}

header p {
    font-size: 18px;
    margin-top: 10px;
    text-shadow: 2px 2px 4px black;
    font-weight: bold;
}

.category {
    padding: 30px;
    max-width: 900px;
    margin: auto;
    background-color: rgba(145, 181, 248, 0.85);
    border-radius: 15px;
    margin-bottom: 40px;
}

.category h2 {
    font-size: 30px;
    margin-bottom: 20px;
    border-left: 6px solid #ff6b6b;
    padding-left: 10px;
}

.card {
    display: flex;
    align-items: center;
    background: white;
    padding: 25px;
    border-radius: 10px;
    margin-bottom: 25px;
    border: 1px solid #eee;
    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.1);
    transition: 0.2s;
}

.card:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 18px rgba(0, 0, 0, 0.25);
}

.card img {
    width: 120px;
    height: 120px;
    object-fit: cover;
    border-radius: 8px;
    margin-right: 20px;
    cursor: pointer;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    z-index: 1;
}

.card img:active {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(4);
    z-index: 10000;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.7);
}

.card h3 {
    margin: 0;
    font-size: 23px;
}

.card p {
    margin: 16px 0;
}

.card span {
    font-size: 15px;
    color: #666;
}

.footer {
    background-color: #b5c8ee;
    color: #0a0a0a;
    text-align: center;
    padding: 20px 10px;
    font-family: 'Poppins', sans-serif;
    position: relative;
}

.footer-content p {
    margin: 5px 0;
    font-size: 14px;
    opacity: 0.8;
}

.footer-content p:first-child {
    font-weight: bold;
    letter-spacing: 1px;
}