body,
html {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    height: 100px;
}

.hero-image {
    background: url('images/hero.jpg');
    background-size: cover;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    color: #fff;
    background-attachment: fixed;
}

.hero-content {
    position: relative;
    z-index: 2;
    text-align: center;
    padding: 20px;
}

.hero-content h1 {
    font-size: 3.5em;
    margin-bottom: 20px;
    text-shadow: 2px 2px 6px #000;
}

.hero-content p {
    font-size: 1.5em;
    text-shadow: 1px 1px 4px #000;
    font-style: italic;
}

nav {
    position: fixed;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1000;
}

.container {
    display: inline-block;
    padding: 20px 35px;
    border-radius: 50px;
    background-color: rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(10px);
    white-space: nowrap;
}

.menu {
    list-style: none;
    display: flex;
    gap: 30px;
    margin: 0;
    padding: 0;
    flex-wrap: nowrap;
}

.menu li a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 14px;
    transition: color 0.3s;
    gap: 8%;
}

.menu li a:hover {
    color: #545554;
    transform: translateY(-2px);
}

.section {
    position: relative;
    padding: 50px 20px;
    min-height: 150vh;
    background-image: url('images/Mayon.webp');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.backgroundoverlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.45);
    backdrop-filter: blur(3px);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px;
    box-sizing: border-box;
    gap: 40px;
}

.intro {
    max-width: 800px;
    margin: 40px auto;
    background: rgba(193, 201, 241, 0.7);
    padding: 30px;
    border-radius: 80px;
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.15);
    transition: 0.5s;
}

.intro h2 {
    text-align: center;
    text-transform: uppercase;
    color: #200a49;
}

.intro p {
    text-align: center;
    color: #000000;
}

.intro:hover {
    transform: translateY(-40px);
    box-shadow: 0 25px 40px rgba(0, 0, 0, 0.18);
}

.gallery {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    max-width: 1000px;
    margin: auto;
}

.item {
    position: relative;
    overflow: hidden;
    border-radius: 15px;
}

.item img {
    width: 100%;
    height: 250px;
    object-fit: cover;
    border-radius: 15px;
    transition: 0.3s ease;
}

.item:hover img {
    transform: scale(1.1);
    filter: brightness(60%);
}

.caption {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 20px;
    font-weight: bold;
    opacity: 0;
    transition: 0.3s ease;
    text-shadow: 0 0 10px black;

}

.item:hover .caption {
    opacity: 1;
    justify-content: center;
}

.footer {
    background-color: #b5c8ee;
    color: #0a0a0a;
    text-align: center;
    padding: 20px 10px;
    font-family: 'Poppins', sans-serif;
    position: relative;
}

.footer-content p {
    margin: 5px 0;
    font-size: 14px;
    opacity: 0.8;
}

.footer-content p:first-child {
    font-weight: bold;
    letter-spacing: 1px;
}